library/bin
library/build
library/gen
library/.project
library/.classpath
library/library.iml
library/.gradle
*.class
.DS_Store
*.idea
example/gen
*/local.properties

testing/bin
testing/gen
testing/.project
testing/.classpath
