/* Body and structure
-------------------------------------------------- */
body {
  position: relative;
  padding-top: 40px;
}


.sidebar {
  padding-top: 10px;
  padding-bottom: 10px;
  text-shadow: 0 1px 0 #fff;
  background-color: #f5f5f5;
  border-radius: 5px;
}

/* All levels of nav */
.sidebar > li > a {
  display: block;
  color: #020031;
  padding: 5px 20px;
}
.sidebar > li > a:hover,
.sidebar > li > a:focus {
  text-decoration: none;
  border-right: 1px solid #020031;
}
.sidebar > .active > a,
.sidebar > .active:hover > a,
.sidebar > .active:focus > a {
  font-weight: bold;
  color: #020031;
  background-color: transparent;
  border-right: 1px solid #020031;
}

.affix {
  position: fixed; /* Undo the static from mobile first approach */
  top: 80px;
  width: 263px;
}

/* Jumbotrons
-------------------------------------------------- */

/* Base class
------------------------- */
.jumbotron {
  position: relative;
  padding: 20px 0;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
  background: #020031; /* Old browsers */
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
     -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
          box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
}

/* Subhead (other pages)
------------------------- */
.subhead {
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.subhead h1 {
  font-size: 60px;
}
.subhead p {
  margin-bottom: 20px;
}

/* Footer
-------------------------------------------------- */

.footer {
  padding: 30px 0;
  margin-top: 30px;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}
.footer-links {
  margin: 10px 0;
}
